In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv(Path('../Resource/HousingPricesbyCensusTract.csv'))
df.head()

,Unnamed: 0,Estimate_Median_value_(dollars),Margin_of_Error_Median_value_(dollars),CensusTract,Geographic_Area_Name
0,1,1098000,58982,6001400100,"Census Tract 4001, Alameda County, California"
1,2,895300,40466,6001400200,"Census Tract 4002, Alameda County, California"
2,3,856600,66477,6001400300,"Census Tract 4003, Alameda County, California"
3,4,817700,47958,6001400400,"Census Tract 4004, Alameda County, California"
4,5,611300,89714,6001400500,"Census Tract 4005, Alameda County, California"

In [3]:
y = df["Estimate_Median_value_(dollars)"]
X = df.drop(columns = "Estimate_Median_value_(dollars)")
X = df.drop(columns = "Geographic_Area_Name")
X

,Unnamed: 0,Estimate_Median_value_(dollars),Margin_of_Error_Median_value_(dollars),CensusTract
0,1,1098000,58982,6001400100
1,2,895300,40466,6001400200
2,3,856600,66477,6001400300
3,4,817700,47958,6001400400
4,5,611300,89714,6001400500
...,...,...,...,...
7769,8052,195000,12129,6115040700
7770,8053,180100,22291,6115040800
7771,8054,198800,32632,6115040901
7772,8056,278400,27712,6115041000
7773,8057,167600,15666,6115041100

In [4]:
df.dtypes

Unnamed: 0                                 int64
Estimate_Median_value_(dollars)            int64
Margin_of_Error_Median_value_(dollars)     int64
CensusTract                                int64
Geographic_Area_Name                      object
dtype: object

In [5]:
model.score(X,y)

NameError: name 'model' is not defined

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X, y)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
y_pred = model.predict(X)
print(y_pred.shape)

In [ ]:
plt.scatter(X, y)
plt.plot(X, y_pred, color='red')
plt.show()